.link-icon {
  height: 25px;
  width: 25px;
}
ul {
  display: flex;
  list-style: none;
}
.title-links {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: auto;
}
.project-img {
  width: 200px;

  object-fit: contain;
}
