.link-icon {
  height: 25px;
  width: 25px;
}
ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 75px;
}
.title-links {
  display: flex;
  justify-content: space-between;
  width: 275px;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: auto;
  box-shadow: 1px 1px 5px;
}
.project-img {
  width: 300px;
  box-shadow: 0px 0px 5px;
  object-fit: fill;
}
