section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  max-width: 710px;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 710px;
}
.project-container {
  margin: 20px;
  height: 350px;
}
.work-title {
  align-self: flex-start;
  margin-left: 30px;
  font-size: 28px;
  font-family: "BioRhyme", serif;
  letter-spacing: -1.75px;
}
