footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 710px;
}
.footer-img {
  width: 350px;
  height: 300px;
}
.contact-info {
  max-width: 350px;
  margin-right: 5px;
}
.devicon-github-original {
  font-size: 36px;
  color: white;
}
